body{
	background-color: #fa6302;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

img{
	max-width: 15%;
	height: auto;
}

#profileselector{
	border-style: solid;
	background-color: #fa9f02;
	margin-left: 30%;
	margin-right: 30%;
}

#profileviewer{
	border-style: solid;
	background-color: #fa2302;
	margin-left: 37.5%;
	margin-right: 37.5%;
}

h3{
	margin-bottom: -15px;
}

#submit, select{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

button{
    font-family: 'Roboto', sans-serif;
}