body{
	background-color: #fa6302;
}

h1, div{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

img{
	max-width: 10%;
	height: auto;
}

#profileselector{
	border-style: solid;
}

#submit{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

button{
    font-family: 'Roboto', sans-serif;
}