body{
	background-color: #fa6302
}

img{
	max-width: 10%;
	height: auto;
}

h1, div{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

h3{
	color: #183689;
}

#announcement1{
	border-style: solid;
}

button{
	font-family: 'Roboto', sans-serif;
}