body {
	background-color: #fa6302;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

img {
	max-width: 15%;
	height: auto;
}

h3 {
	color: #183689;
}

#filteredannouncements {
	border-style: solid;
}

button {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
